body{
    background-color: rgb(238, 132, 150);
}
h1{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}
.linea-negra {
    width: 100%;
    height: 3px;
    background-color: black;
}
.boca{
    width: 100px;
}
.foto{
    display: block;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
}
.papa3{
    display: flex;
    margin-right: 40;
}
