body{
    background-color: pink;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.hijo{
    height: 500ox;
    width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 35px;
}
.papa3{
    display: flex;
    margin-right: 40;
}
.vaca{
    text-decoration: solid;
}
.boca{
    width: 100px;
}

.carrito-boton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

.carrito-boton:hover {
  transform: scale(1.1);
}

.carrito-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.carrito-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
