body{
    background-color: pink;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.hijo{
    height: 500ox;
    width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 35px;
}
.padreDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.papa3{
    display: flex;
    margin-right: 40;
}
.vaca{
    text-decoration: solid;
}
.boca{
    width: 100px;
}
.linea-negra {
    width: 100%;
    height: 3px;
    background-color: black;
}
footer{
    display: flex;
    justify-content: center;
}