body{
    background-color: pink;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.hijo{
    height: 500ox;
    width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 35px;
}
.papa3{
    display: flex;
    margin-right: 40;
}
.vaca{
    text-decoration: solid;
}
.boca{
    width: 100px;
}