body{
    background-color: rgb(238, 132, 150);
}
h1{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.papa3{
    display: flex;
    margin-right: 40;
}
.linea-negra{
    width: 100%;
    height: 2px;
    background-color: black;
}
.boca{
    width: 100px;
}